@media only screen and (max-device-width: 675px) {
    header {
        padding: 20px 0 10px 20px;
    }
    form {
        display: block;
    }
    .label-heading {
        display: block;
        margin-bottom: 20px;
    }
    .span-heading {
        display: none;
    }
    .form-control {
        margin: 20px 0px 5px 0px;
    }
    .form-control-submit {
        margin-top: 25px;
    }
}
@media only screen and (max-device-width: 375px) {
    .form-control {
        display: block;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="text"] {
        width: 90%;
    }
}
body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
}
header {
    padding: 15px 0 10px 15px;
    background-color: #f1f1f1;
}
nav {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    justify-content: flex-end;
}
nav a {
    display: block;
    padding: 5px 10px 5px 5px;
    color: #000;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}
nav a:hover {
    text-decoration: underline;
}
h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 25px 45px 25px 45px;
    color: #d93025;
}
hr {
    border: 0;
    border-bottom: 1.5px solid #ebebeb;
}
label {
    font-size: 13px;
    color: #222;
}
span {
    color: #555;
    font-size: 11px;
}
kbd {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}
form {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    margin: 45px 45px 0px 45px;
    border-bottom: 1px solid #ebebeb;
}
.logo {
    display: inline-block;
    height: 32px;
    width: auto;
}
.label-heading {
    font-size: 16px;
    font-weight: normal;
    color: #333;
}
.span-heading {
    font-size: 13px;
    font-weight: bold;
    color: #777;
}
.form-control {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 20px;
}
.form-control-submit {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0 25px 0;
}
.footer {
    font-size: 1em;
    margin: 25px 45px 45px 45px;
}
.footer .links {
    display: block;
    line-height: 1.25em;
    font-size: 0.85em;
}
.footer .links a {
    display: block;
    text-decoration: none;
}
.footer .links a:hover {
    text-decoration: underline;
}
input[type="text"] {
    display: inline-block;
    padding: 5px 8px;
    font-size: 13px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    outline-color: #3079ed;
}
input[type="submit"] {
    display: inline-block;
    padding: 8px 10px 8px 10px;
    border: 1px solid #3079ed;
    border-radius: 2px;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    outline: none;
}
input[type="submit"]:hover, input[type="submit"]:focus {
    color: #000;
    border: 1px solid transparent;
}