{% extends 'foodtracker/layout.html' %}

{% block title %} CS50W Food Tracker | Categories {% endblock %}

{% block categories %}
<div class='nav'>
    <div class='sb-sidenav-menu-heading'>Categories</div>
    {% for category in categories %}
    <a class='nav-link' href="{% url 'category_details_view' category.category_name %}">
        <div class='sb-nav-link-icon'><i class='fas fa-folder-open'></i></div>
        {{ category }} 
        <span class='sb-nav-link-icon'></span>
        <span class='badge-custom badge-warning badge-pill'>
            {{ category.count_food_by_category }}
        </span>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block body %}
    <ul class='nav'>
        <a class='navbar-brand' href='#'>Categories</a>
        {% for category in categories %}
            <li class='nav-item'>
                <a class='nav-link' href="{% url 'category_details_view' category.category_name %}">
                    {{ category }}
                </a>
                <span class='badge badge-info badge-pill'>
                    {{ category.count_food_by_category }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}