{% extends 'foodtracker/layout.html' %}

{% block title %}CS50W Food Tracker | Login{% endblock %}

{% block categories %}
<div class='nav'>
    <div class='sb-sidenav-menu-heading'>Categories</div>
    {% for category in categories %}
    <a class='nav-link' href="{% url 'category_details_view' category.category_name %}">
        <div class='sb-nav-link-icon'><i class='fas fa-folder-open'></i></div>
        {{ category }} 
        <span class='sb-nav-link-icon'></span>
        <span class='badge-custom badge-warning badge-pill'>
            {{ category.count_food_by_category }}
        </span>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block body %}
<div class='py-4 bg-light mt-auto'>
    <div class='container px-4'>

        <h2>Login</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <div class='row'>
            <div class='col-xl-12'>
                <div class='card bg-light mb-4 rounded'>
                    <div class='card-body'>
    
                        <div class='form-group'>

                            <form action="{% url 'login' %}" method='post'>
                                {% csrf_token %}
                                <div class='form-group'>
                                    <label for='inputUsername' class='form-label mt-4'>
                                        Username
                                    </label>
                                    <input type='text' name='username' class='form-control' id='inputUsername' placeholder='Enter username' autofocus>
                                </div>

                                <div class='form-group'>
                                    <label for='inputPassword1' class='form-label mt-4'>
                                        Password
                                    </label>
                                    <input type='password' name='password' class='form-control' id='inputPassword1' placeholder='Enter password'>
                                </div>

                                <div class='form-group mt-4'>
                                    <button type='submit' class='btn btn-custom'>
                                        Login
                                    </button>
                                </div>
                            </form>

                            <div class='mt-2'>
                                Don't have an account? <a href="{% url 'register' %}" style='color:#593196; text-decoration: underline;'>
                                    Register here
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}